{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


<div class="container main">

  <div class="row">
    <div class="col-md">
        <h1>{{ 'app.title'|trans }}</h1>
        {% include 'main/partial/search_form.html.twig' %}
        Fazi en ur glask ar verb {{verb}}
    </div>
  </div>
</div>

{% endblock %}
