{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek{% endblock %}

{% block content %}
    <a href="{{ path('main') }}"><h1>{{ 'app.title'|trans }}</h1></a>
    {% include 'main/partial/search_form.html.twig' %}
{% endblock %}
