{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek{% endblock %}

{% block content %}
    {% include 'main/partial/header.html.twig' %}

    <p> {{intro|raw}} </p>
{% endblock %}
