{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek - {{('app.'~code)|trans}}{% endblock %}

{% block content %}
    {% include 'main/partial/header.html.twig' %}

    <p>
        {{configuration(code)|raw}}
    </p>

{% endblock %}