{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek - {{configurationTranslation.title}}{% endblock %}

{% block content %}
    {% include 'main/partial/header.html.twig' %}

    <h1>{{configurationTranslation.title}}</h1>
    <p>
        {{configurationTranslation.text|raw}}
    </p>

{% endblock %}