
// customize some Bootstrap variables, base = #428bca
$primary: #2D5F8A;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap4-toggle/css/bootstrap4-toggle.min.css";
@import "grayscale/grayscale.scss";
@import "select2";

// list colors to switch them easy
html {
    --background: white;
    --lighter-background: lightgray;
    --focus-color: white;
    --hover-color: lightgray;
    --message-color: lightblue;
    --title-color: black;
    --text-color: black;
    --button-color: #{$primary};
    --button-hover: #{darken($primary, 10%)};
    --button-focus: #{darken($primary, 15%)};
    background: var(--background);
}

body {
    background: var(--background);
    color: var(--text-color);
}

h1 {
    color: var(--title-color);
}

a {
    color: var(--button-color);
    &:hover {
        color: var(--lighter-background);
    }
}

.print-button, .report-button, .export-button {
    float:right;
}

.btn-primary {
    background-color: var(--button-color);
    &:hover {
        background-color: var(--button-hover);
    }
    &:not(:disabled):not(.disabled):active {
        background-color: var(--button-focus);
    }
    &:focus {
        background-color: var(--button-focus);
    }
}

.form-control {
    //display: inline;
    width: 243px;
    background: var(--background);
    color: var(--title-color);
    &:focus {
        background: var(--focus-color);
        color: var(--title-color);
    }
    &:placeholder {
        color: var(--lighter-background);
    }
}


.verb-items {
    ul {
        list-style: none;
    }
}

.js-tense {
    .copy-tense {
        display:none;
        float:right;
        cursor: pointer;
    }

    h3 {
        &:hover {
            ~ ul {
                opacity: 1.0;
                background-color: var(--hover-color);
            }

            opacity: 1.0;
            background-color: var(--hover-color);

            .copy-tense {
                display: inline;
            }
        }
    }
}

.js-tense-content{
    display:none;
}

.verb-container {
    display: inline;
}

.verb-item {
    opacity: 0.9;
    width: 70%;
    .copy {
        display:none;
        //float:right;
        cursor: pointer;
    }
    &:hover {
        opacity: 1.0;
        background-color: var(--hover-color);
        .copy {
            display:inline;
        }
    }
}

.icon {
    width: 16px;
}
.fas, .far {
    content: 'A';
    width: 20px;
    height: 20px;
}

.message {
    display:none;
    position:fixed;
    width: 100%;
    top: 0;
    text-align: center;
    cursor: pointer;
    &.ok {
        background-color: lightgreen;
    }
    &.error {
        background-color: lightcoral;
    }
}

.missing_translation, .report_error {
    background-color: var(--message-color);
    border-radius: 10px;
    margin: 4px;

    .missing_translation_notice {
        cursor: pointer;
    }
}

.missing_translation_form, .report_error {
    display:none;
}

.admin-verb_row {
    &:hover {
        background-color: var(--hover-color);
    }
}

.pagination {
    span {
        padding: 5px;
    }
}
.form-control {
    width: inherit;
}

.ui-autocomplete.ui-front {
    z-index: 1100
}

textarea {
    &.form-control {
        min-height: 140px;
    }
}

@media print {

    .print-button,  .search-form, .missing_translation .report_error {
        display: none;
    }
    main, container {
        padding: 0;
        margin: 0;
    }

    abbr[title]:after {
        display:none;
    }
}