<footer id="mainFooter" class="navbar navbar-expand-sm row align-items-end">
    <ul class="navbar-nav mr-auto col">
        <li class="nav-item">
            <a class="nav-link" href="{{path('mail')}}">{{'app.contact'|trans}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('notice')}}">{{'app.legal.notice'|trans}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Lorem ipsum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Lorem ipsum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Lorem ipsum</a>
        </li>
    </ul>
</footer>