<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{path('mail')}}">{{'app.contact'|trans}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('notice')}}">{{'app.legal.notice'|trans}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Lorem ipsum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Lorem ipsum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Lorem ipsum</a>
        </li>
    </ul>
</nav>