
        <form action="/" class="search-form form-md">
            <input type="text" name="verb" class="form-control autocomplete"/>
            <button class="btn btn-primary">Klask</button>
        </form>