
        <form action="{{ path('main') }}" class="search-form form-md">
            <input data-rl="{{path('autocomplete')}}" type="text" name="verb" class="form-control autocomplete"/>
            <button class="btn btn-primary">Klask</button>
        </form>