header {
    border-bottom: solid $primary 1px;
    background-color: var(--background);
    h1 {
        font-size: 20pt;
        margin-right: 10px;
    }
    img {
        width: 75px;
        padding-right: 20px;
    }
}