<div>
    <div class="row">
        <div class="col-md-2">
            {{form_label(tag.tag)}}
        </div>
        <div class="col-md">
            {{form_label(tag.sources)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{form_widget(tag.tag)}}
        </div>
        <div class="col-md">
            {{form_widget(tag.sources)}}
        </div>
        <div class="col-md-1">
            <button type="button"
                    class="btn btn-primary delete-element">
                    <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
</div>