<div>
    <div class="row">
        <div class="col-md-8">
            {{form_label(tag.id)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{form_widget(tag.id)}}
        </div>
        <div class="col-md-1">
            <button type="button"
                    class="btn btn-primary delete-element">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
</div>